.cabecera{
    background-color:color(primary);
    & li{
        margin-right:1rem;
    }
    & a{
        color:color(secondary)!important;
        &:hover{
            transition:.3s ease-out;
            color:color(hover)!important;
            text-decoration:none;
                    
        }
    }
    
    & li{
        &:hover{
            transition:.3s ease-out;
            transform:scale(1.08);
        }
    }

    .navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        
    }
    .navbar-light .navbar-toggler-icon:hover{
        transition:.4s ease-out;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    & .navbar .navbar-brand > a{
        font-size:fontsize(lg);
        & .logo{
            width:50px;
            color:color(secondary);
        }
    }

}